/* EditMovieForm.css */

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

.form-group textarea {
    resize: vertical; /* Per consentire il ridimensionamento verticale della textarea */
}

.form-group button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-group button[type="submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    color: #4CAF50; /* Colore verde per i messaggi di successo */
    margin-top: 10px; /* Margine superiore */
}

.error-message {
    color: #F44336; /* Colore rosso per i messaggi di errore */
    margin-top: 10px; /* Margine superiore */
}